@font-face {
  font-family: "GraphikLCG-Regular";
  src: url(../../fonts/GraphikLCG-Regular.woff);
}
@font-face {
  font-family: "GraphikLCG-Semibold";
  src: url(../fonts/GraphikLCG-Semibold.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "GraphikLCG-Regular", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #000000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

._container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

._container-narrow {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-bottom: 97px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 95px;
  flex-wrap: wrap;
}
.header__content {
  display: flex;
}
.header__logo {
  max-width: 130px;
  margin-right: 51px;
}
.header__link {
  margin-right: 57px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.header__button {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  display: flex;
  gap: 10px;
}
.header__button_left {
  padding: 1px 36px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__button_right {
  padding: 1px 22px;
  color: #ffffff;
  background: #FF6336;
}

@media (max-width: 1110px) {
  .header__link {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    margin-bottom: 37px;
  }
}
.main {
  margin-bottom: 137px;
}
.main__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__content_left {
  max-width: 530px;
  display: flex;
  flex-direction: column;
}
.main__content_right {
  max-width: 600px;
}
.main__title {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  color: #000000;
  max-width: 530px;
  margin-bottom: 51px;
}
.main__text1 {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
  max-width: 471px;
  margin-bottom: 30px;
}
.main__button {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.main__button_left {
  flex-shrink: 0;
  background: #FF6336;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 42px;
}
.main__button_right {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 29px;
}
.main__text2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

@media (max-width: 1024px) {
  .main {
    margin-bottom: 57px;
  }
}
@media (max-width: 767px) {
  .main {
    margin-bottom: 37px;
  }
  .main__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__content_left {
    align-items: center;
  }
  .main__content_right {
    max-width: 359px;
  }
  .main__title {
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 21px;
  }
  .main__text1 {
    max-width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .main__button {
    gap: 5px;
    margin-bottom: 15px;
  }
  .main__button_left {
    font-size: 14px;
    padding: 0 32px;
  }
  .main__button_right {
    font-size: 12px;
    padding: 0 19px;
  }
  .main__text2 {
    font-size: 15px;
    line-height: 25px;
  }
}
.preferred {
  background: #FF9C7D;
  padding: 98px 0 94px 0;
  margin-bottom: 100px;
}
.preferred__title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  text-align: center;
  max-width: 720px;
  margin-bottom: 70px;
  font-family: "GraphikLCG-Semibold", sans-serif;
}
.preferred__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .preferred {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .preferred {
    padding: 58px 0 54px 0;
    margin-bottom: 50px;
  }
  .preferred__title {
    font-size: 40px;
    line-height: 50px;
    max-width: 520px;
    margin-bottom: 30px;
  }
  .preferred__item {
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 520px;
    gap: 20px;
  }
}
.offer__control-item {
  display: flex;
  justify-content: space-between;
}
.offer__control-item:not(last-child) {
  margin-bottom: 250px;
}
.offer__control-item:last-child {
  margin-bottom: 150px;
}
.offer__control-content {
  max-width: 657px;
  padding: 145px 0;
}
.offer__control-title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  max-width: 493px;
  text-align: left;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 30px;
}
.offer__control-text {
  max-width: 491px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}
.offer__control-link {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.offer__link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.offer__control-img {
  max-width: 632px;
}

@media (max-width: 1024px) {
  .offer__control-item {
    align-items: center;
    gap: 20px;
  }
  .offer__control-item:not(last-child) {
    margin-bottom: 50px;
  }
  .offer__control-item:last-child {
    margin-bottom: 80px;
  }
  .offer__control-content {
    max-width: 557px;
    padding: 0px;
  }
  .offer__control-img {
    max-width: 432px;
  }
}
@media (max-width: 767px) {
  .offer__control-item:not(last-child) {
    margin-bottom: 10px;
  }
  .offer__control-item:last-child {
    margin-bottom: 25px;
  }
  .offer__control-content {
    max-width: 257px;
    padding: 25px 0;
  }
  .offer__control-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .offer__control-text {
    max-width: 257px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .offer__control-link {
    font-size: 15px;
    line-height: 20px;
  }
  .offer__control-img {
    max-width: 300px;
  }
}
@media (max-width: 575px) {
  .offer__control-item {
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: center;
    max-width: 100%;
  }
  .offer__control-item:nth-child(even) {
    flex-wrap: wrap-reverse;
  }
  .offer__control-content {
    max-width: 100%;
    text-align: center;
  }
  .offer__control-title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .offer__control-text {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.what-can-you {
  background: #FFF8E4;
  padding: 120px 0 93px 0;
}
.what-can-you__container {
  padding: 0 40px;
}
.what-can-you__what-can-you-title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 58px;
  text-align: center;
}
.what-can-you__what-can-you-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.what-can-you__what-can-you-item {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  align-items: center;
  margin-bottom: 57px;
}
.what-can-you__what-can-you-item-title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.what-can-you__what-can-you-item-img {
  margin-bottom: 26px;
}
.what-can-you__what-can-you-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-align: center;
}
.what-can-you__link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

@media (max-width: 1024px) {
  .what-can-you {
    padding: 50px 0 23px 0;
  }
}
@media (max-width: 767px) {
  .what-can-you {
    padding: 60px 0 33px 0;
  }
  .what-can-you__container {
    padding: 0 20px;
  }
  .what-can-you__what-can-you-item {
    margin-bottom: 37px;
  }
  .what-can-you__what-can-you-item-title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .what-can-you__what-can-you-item-img {
    margin-bottom: 16px;
  }
  .what-can-you__what-can-you-item-text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 704px) {
  .what-can-you__what-can-you-item {
    flex: 0 1 100%;
    justify-content: center;
    max-width: 100%;
  }
}
.boost__container {
  padding: 154px 20px 120px 20px;
}
.boost__title {
  text-align: center;
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 25px;
}
.boost__content {
  display: flex;
  justify-content: space-between;
}
.boost__boost-item {
  max-width: 439px;
  display: flex;
  flex-direction: column;
  padding: 50px 30px 0 0;
}
.boost__boost-item-img {
  height: 201px;
  margin-bottom: 50px;
  justify-content: flex-start;
}
.boost__boost-item-title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 34px;
}
.boost__boost-item-text {
  max-width: 409px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 25px;
}
.boost__boost-link {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: underline;
}
.boost__boost-item-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 1024px) {
  .boost__container {
    padding: 54px 20px 60px 20px;
  }
  .boost__title {
    text-align: center;
    margin-bottom: 5px;
  }
  .boost__boost-item {
    padding: 30px 30px 0 0;
  }
  .boost__boost-item-img {
    margin-bottom: 40px;
  }
  .boost__boost-item-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .boost__boost-item-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .boost__boost-link {
    font-size: 16px;
    line-height: 20px;
  }
  .boost__boost-item-link {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .boost__container {
    padding: 54px 20px 30px 20px;
  }
  .boost__content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .boost__boost-item {
    max-width: 310px;
    align-items: center;
  }
  .boost__boost-item-img {
    margin-bottom: 35px;
  }
  .boost__boost-item-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 14px;
  }
  .boost__boost-item-text {
    text-align: center;
    max-width: 300px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .boost__boost-link {
    font-size: 14px;
    line-height: 24px;
  }
}
.revolut {
  background: #C9E8F2;
}
.revolut__container {
  padding: 66px 20px 105px 20px;
  display: flex;
  justify-content: space-between;
}
.revolut__content {
  max-width: 895px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.revolut__text {
  max-width: 895px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 23px;
}
.revolut__name {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 7px;
}
.revolut__img {
  min-width: 210px;
}

@media (max-width: 1024px) {
  .revolut__container {
    padding: 44px 20px 44px 20px;
    align-items: center;
  }
  .revolut__content {
    max-width: 495px;
  }
  .revolut__text {
    font-size: 20px;
    line-height: 30px;
  }
  .revolut__img {
    max-width: 410px;
  }
}
@media (max-width: 767px) {
  .revolut__container {
    padding: 36px 20px 45px 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .revolut__content {
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .revolut__text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
.most-loved {
  background: #DABC98;
  padding: 83px 0 71px 0;
}
.most-loved__wrapper {
  display: flex;
  justify-content: space-between;
}
.most-loved__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 115px;
  max-width: 809px;
}
.most-loved__left-img {
  max-width: 176px;
  margin-right: 57px;
}
.most-loved__left-text {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
  max-width: 461px;
}
.most-loved__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
  padding: 30px 60px 22px 70px;
  gap: 70px;
  border-left: 1px solid #1D1D1B;
}
.most-loved__right-img {
  min-width: 50px;
}

@media (max-width: 767px) {
  .most-loved {
    padding: 53px 0 41px 0;
  }
  .most-loved__left {
    padding-right: 15px;
    max-width: 409px;
    justify-content: center;
  }
  .most-loved__left-img {
    margin-right: 27px;
  }
  .most-loved__left-text {
    font-size: 20px;
    line-height: 30px;
    max-width: 361px;
    text-align: center;
  }
}
.integrate__container {
  padding: 169px 0 149px 0;
}
.integrate__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integrate__title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  max-width: 791px;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  color: #000000;
  text-align: center;
  margin-bottom: 12px;
}
.integrate__text {
  max-width: 539px;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
  text-align: center;
  margin-bottom: 12px;
}
.integrate__img {
  margin-bottom: 45px;
}
.integrate__button {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  background: #FF6336;
  color: #FFFFFF;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .integrate__container {
    padding: 69px 5px 49px 5px;
  }
  .integrate__title {
    font-size: 45px;
    line-height: 65px;
  }
}
@media (max-width: 767px) {
  .integrate__container {
    padding: 69px 10px 49px 10px;
  }
  .integrate__title {
    max-width: 750px;
    font-size: 55px;
    line-height: 65px;
  }
  .integrate__text {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}
.localization {
  background: #FF9C7D;
  padding: 132px 0 148px 0;
}
.localization__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.localization__title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  max-width: 784px;
  font-weight: 600;
  font-size: 65px;
  line-height: 65px;
  color: #000000;
  text-align: center;
  margin-bottom: 29px;
}
.localization__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin-bottom: 54px;
}
.localization__button {
  background: #000000;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 40px;
}

@media (max-width: 1024px) {
  .localization {
    padding: 82px 0 88px 0;
  }
}
@media (max-width: 767px) {
  .localization {
    padding: 42px 0 48px 0;
  }
  .localization__title {
    max-width: 584px;
    font-size: 45px;
    line-height: 65px;
    margin-bottom: 19px;
  }
  .localization__text {
    margin-bottom: 34px;
  }
}
.case {
  padding: 92px 0 48px 0;
  background: #EEEEEE;
}
.case__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  margin-bottom: 53px;
}
.case__left {
  max-width: 370px;
  padding-right: 70px;
  margin-bottom: 95px;
}
.case__left-title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 28px;
}
.case__left-img {
  margin-bottom: 31px;
}
.case__left-img2 {
  margin-bottom: 11px;
}
.case__left-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  max-width: 290px;
  margin-bottom: 15px;
}
.case__left-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  font-family: "GraphikLCG-Semibold", sans-serif;
}
.case__right {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
}
.case__right-column {
  width: 187px;
  margin-right: 14px;
}
.case__right-title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 21px;
}
.case__right-item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__content-left {
  display: flex;
  gap: 14px;
}
.footer__content-left-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  max-width: 301px;
}
.footer__content-right-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

@media (max-width: 1024px) {
  .case {
    padding: 52px 0 28px 0;
  }
  .case__wrapper {
    margin-bottom: 33px;
  }
  .case__left {
    max-width: 370px;
    padding-right: 50px;
    margin-bottom: 55px;
  }
  .case__right {
    max-width: 750px;
    flex-wrap: wrap;
  }
  .case__right-column {
    max-width: 167px;
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .case {
    padding: 42px 0 28px 0;
  }
  .case__wrapper {
    margin-bottom: 33px;
    justify-content: space-between;
  }
  .case__left {
    margin-bottom: 55px;
  }
  .case__left-title {
    font-size: 30px;
    line-height: 40px;
  }
  .case__left-text {
    font-size: 16px;
    line-height: 24px;
  }
  .case__right {
    max-width: 650px;
    gap: 20px;
    flex: 0 1 50%;
  }
  .case__right-column {
    width: 187px;
    margin-right: 0;
  }
  .case__right-title {
    margin-bottom: 11px;
  }
  .case__right-item-link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 575px) {
  .case {
    padding: 52px 0 28px 0;
  }
  .case__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .case__left {
    max-width: 100%;
    padding-right: 10px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .case__left-text {
    text-align: center;
  }
  .case__right-items {
    text-align: center;
  }
  .case__right-column {
    margin: auto;
    width: 100%;
    margin-right: 14px;
    margin-bottom: 10px;
  }
  .case__right-title {
    text-align: center;
    margin-bottom: 11px;
  }

  .footer__content {
    gap: 10px;
  }
}/*# sourceMappingURL=index.css.map */