@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #000000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

._container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 30px;
}

._container-large {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 20px;
  border: 2px solid red;
}

.wrapper-blue {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 60px;
  position: relative;
}
.wrapper-blue::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  height: 10px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.wrapper-blue::before {
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  height: 10px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?4mmysl");
  src: url("./fonts/icomoon.eot?4mmysl#iefix") format("embedded-opentype"), url("./fonts/icomoon.ttf?4mmysl") format("truetype"), url("./fonts/icomoon.woff?4mmysl") format("woff"), url("./fonts/icomoon.svg?4mmysl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Facebook-Footer:before {
  content: "\e900";
  color: #24a3ff;
}

.icon-Facebook-Header:before {
  content: "\e901";
  color: #b3b3ba;
}

.icon-Frame-4 .path1:before {
  content: "\e902";
  color: rgb(245, 245, 250);
}

.icon-Frame-4 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(67, 86, 149);
}

.icon-Frame-4-1 .path1:before {
  content: "\e904";
  color: rgb(245, 245, 250);
}

.icon-Frame-4-1 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(60, 172, 220);
}

.icon-Frame-4-2 .path1:before {
  content: "\e906";
  color: rgb(245, 245, 250);
}

.icon-Frame-4-2 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(17, 120, 179);
}

.icon-Symbol .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}

.icon-Symbol .path2:before {
  content: "\e909";
  margin-left: -0.8720703125em;
  color: rgb(240, 20, 90);
}

@media (max-width: 1024px) {
  .offer__control-item {
    align-items: center;
    gap: 20px;
  }
  .offer__control-item:not(last-child) {
    margin-bottom: 50px;
  }
  .offer__control-item:last-child {
    margin-bottom: 80px;
  }
  .offer__control-content {
    max-width: 557px;
    padding: 0px;
  }
  .offer__control-img {
    max-width: 432px;
  }
}
@media (max-width: 767px) {
  .offer__control-item:not(last-child) {
    margin-bottom: 10px;
  }
  .offer__control-item:last-child {
    margin-bottom: 25px;
  }
  .offer__control-content {
    max-width: 257px;
    padding: 25px 0;
  }
  .offer__control-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .offer__control-text {
    max-width: 257px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .offer__control-link {
    font-size: 15px;
    line-height: 20px;
  }
  .offer__control-img {
    max-width: 300px;
  }
}
@media (max-width: 575px) {
  .offer__control-item {
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: center;
    max-width: 100%;
  }
  .offer__control-item:nth-child(even) {
    flex-wrap: wrap-reverse;
  }
  .offer__control-content {
    max-width: 100%;
    text-align: center;
  }
  .offer__control-title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .offer__control-text {
    max-width: 100%;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=servise.css.map */