@use '../../common'as *;

@include intermediate_1013 {
    .main {
        margin-top: -232px;
    }
}

@include intermediate_970 {
    .main {
        margin-top: -232px;

        &__content {
            flex-wrap: wrap;
        }

        &__content-items {
            overflow-x: auto;
            max-width: 200%;
            padding-right: 0px;
            padding-bottom: 60px;
            flex-direction: row;
            gap: 30px;
            border-bottom: 4px solid rgba(255, 255, 255, 0.3);
            border-right: 0px;
            margin-bottom: 30px;

            &::-webkit-scrollbar {
                width: 0;
            }
        }


        &__description {
            padding-left: 0px;
        }
    }
}

@include tablet {

    .main {
        &__logo-wrapper {
            margin-left: -30px;
        }


    }
}


@include intermediate_600 {


    .main {
        margin-top: -171px;

        &__logo-wrapper {
            margin-left: -30px;
            margin-right: -30px;

        }

        &__logo {
            max-width: 100%;
            margin: auto;
        }

        &__logo-tile {
            max-width: 315px;
            top: 60%;

        }

        &__arrow {
            position: absolute;
            left: 50%;
            bottom: 0%;
            transform: translate(-50%, -50%);
            animation: arrowDown 2s infinite;

            @keyframes arrowDown {
                0% {
                    bottom: -20px;
                }

                50% {
                    bottom: 0;
                }

                100% {
                    bottom: -20px;
                }
            }
        }
    }
}