@use '../../common'as *;

.offer {
    &__control-item {
        display: flex;
        justify-content: space-between;

        &:not(last-child) {
            margin-bottom: 250px;
        }

        &:last-child {
            margin-bottom: 150px;
        }
    }

    &__control-content {
        max-width: 657px;
        padding: 145px 0;
    }

    &__control-title {
        font-family: 'GraphikLCG-Semibold', sans-serif;
        max-width: 493px;
        text-align: left;
        @include fontStyles(600, 50px, 60px, $black);
        margin-bottom: 30px;
    }

    &__control-text {
        max-width: 491px;
        @include fontStyles(400, 20px, 30px, $black);
        margin-bottom: 30px;
    }

    &__control-link {
        font-family: 'GraphikLCG-Semibold', sans-serif;
        @include fontStyles(600, 20px, 30px, $black);
    }

    &__link {
        text-decoration: underline;
        @include fontStyles(400, 20px, 30px, $black);
    }

    &__control-img {
        max-width: 632px;
    }
}