@use '../../common'as *;


@include intermediate_1110 {
    .team {

        &__items {
            grid-template-columns: repeat(2, minmax(250px, 494px));
        }
    }
}

@include intermediate_710 {
    .team {

        &__items {
            grid-template-columns: minmax(250px, 1fr);
        }

    }
}




@include intermediate_600 {
    .margin-top {
        margin-top: 200px;
    }
}