@use '../../common'as *;

.team {
    padding-bottom: 60px;

    &__container {}

    &__wrapper {}

    &__title {
        max-width: 1360px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 60px auto;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 494px));
        gap: 60px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__img {
        max-width: 494px;
        height: 400px;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            border-radius: 12px;
        }
    }

    &__content {
        max-width: 494px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #323264;

        &:hover {
            color: #F0145A;
        }
    }

    &__post {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #B3B3BA;
    }

    &__icon {

        svg {
            stroke: #24A3FF;

            :hover {
                stroke: #F0145A;
            }
        }
    }
}