@use '../../common'as *;


@include intermediate_1110 {
    .contact {

        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            width: 100%;
        }
    }

}

@include intermediate_710 {}




@include intermediate_600 {
    .margin-top {
        margin-top: 200px;
    }
}