@use '../../common'as *;

@include laptop {
    .localization {
        padding: 82px 0 88px 0;
    }
}

@include tablet {
    .localization {
        padding: 42px 0 48px 0;

        &__title {
            max-width: 584px;
            font-size: 45px;
            line-height: 65px;
            margin-bottom: 19px;
        }

        &__text {
            margin-bottom: 34px;
        }
    }
}