@use '../../common'as *;

@include laptop {
    .what-can-you {
        padding: 50px 0 23px 0;
    }
}

@include tablet {
    .what-can-you {
        padding: 60px 0 33px 0;

        &__container {
            padding: 0 20px;
        }

        &__what-can-you-item {
            margin-bottom: 37px;
        }

        &__what-can-you-item-title {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 10px;
        }

        &__what-can-you-item-img {
            margin-bottom: 16px;
        }

        &__what-can-you-item-text {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

@include intermediate_704 {
    .what-can-you {
        &__what-can-you-item {
            flex: 0 1 100%;
            justify-content: center;
            max-width: 100%;
        }
    }
}

@include mobile {}