@use '../../common'as *;

.revolut {
    background: #C9E8F2;

    &__container {
        padding: 66px 20px 105px 20px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 895px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    &__text {
        max-width: 895px;
        @include fontStyles(400, 30px, 40px, $black);
        margin-bottom: 23px;
    }

    &__name {
        @include fontStyles(400, 15px, 25px, $black);
        margin-bottom: 7px;
    }

    &__img {
        min-width: 210px;
    }
}