@use '../../common'as *;

@include laptop {
    .revolut {

        &__container {
            padding: 44px 20px 44px 20px;
            align-items: center;
        }

        &__content {
            max-width: 495px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
        }

        &__img {
            max-width: 410px;
        }
    }
}

@include tablet {
    .revolut {

        &__container {
            padding: 36px 20px 45px 20px;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }

        &__content {
            flex: 0 1 100%;
            justify-content: center;
            align-items: center;
            max-width: 100%;
        }

        &__text {
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }
    }
}