* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #000000;
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea {
    outline: none;
    border: none;
}

._container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 30px;
}

._container-narrow {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

._container-narrow2 {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

._container-large {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid red;
}

.wrapper-blue {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 60px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: -20px;
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
    }
}