//breackpoint
$breackpoint_xxl: 1200px;
$breackpoint_xl: 1024px;
$breackpoint_md: 767px;
$breackpoint_sm: 575px;
$breackpoint_intermediate_1170: 1170px;
$breackpoint_intermediate_1110: 1110px;
$breackpoint_intermediate_704: 704px;

//color
$black: #000000;
$title: #000000;
$white: #ffffff;
$bg-orange: #FF9C7D;
$btn-orange: #FF6336;