@use '../../common'as *;


@include tablet {
    .most-loved {
        padding: 53px 0 41px 0;

        &__left {
            padding-right: 15px;
            max-width: 409px;
            justify-content: center;
        }

        &__left-img {
            margin-right: 27px;
        }

        &__left-text {
            font-size: 20px;
            line-height: 30px;
            max-width: 361px;
            text-align: center;
        }
    }
}